<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>
<body>
<div class="container-scroller">
    <%- include('./components/adminsidebar') %>
    <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div class="main-panel">
            <div style="background-color: #111319" class="content-wrapper">
                <h2>User Details</h2>

                <!-- Hier können Sie die Benutzerdaten in Ihrer UI einfügen -->
                <p>Username: <%= user.attributes.username %></p>
                <p>Email: <%= user.attributes.email %></p>
                <!-- Weitere Benutzerdaten hier einfügen -->

                <!-- Beispiel-Formular zum Löschen des Benutzers -->
                <form method="post" action="/admin/user/<%= user.attributes.id %>/delete">
                    <button type="submit">Delete User</button>
                </form>

                <!-- Beispiel-Formular zum Ändern des Administratorstatus -->
                <form method="post" action="/admin/user/<%= user.attributes.id %>/admin">
                    <button type="submit">Toggle Admin Status</button>
                </form>
            </div>
            <%- include('./components/footer') %>
        </div>
    </div>
</div>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<%- include('./components/scripts') %>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
</body>
</html>
