<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div class="container-scroller">
      <%- include('./components/adminsidebar') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">
           <h2><%= lang.title_admin_plans %></h2>
           <p class="text-gray"><%= lang.descriptions_admin_plans %></p>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><%= lang.card_title_set_plan %></h4>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="IDPlan"><%= lang.label_id_plan %></label>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="Enter user ID" id="IDSet">
                      </div>
                      <div class="form-group">
                        <label for="InputPackage"><%= lang.label_package_plan %></label><BR>
                        <select class="form-control" style="border-radius: 15px; padding: 8px;" id="package">
                          <% for (let [name, value] of Object.entries(settings.api.client.packages.list)) { %>
                            <option value="<%= name %>"><%= name %> (RAM: <%= value.ram %>MB, Disk: <%= value.disk %>MB, CPU: <%= value.cpu %>%, Servers: <%= value.servers %>)</option>
                          <% } %>
                        </select>
                      </div>
                      <a role="button" class="software-item text-white" href="javascript: submitPlan()"><%= lang.bouton_submit_plan %></a><br><br><p>You cannot set a plan which is managed by the automatic role rewards, tfc-plex requires you to create a duplicate plan if you want to do that.</p>
                    </form>
                  </div>
                </div>
              </div>
          </div></div>
          <%- include('./components/footer') %>
        </div>
      </div>
    </div>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
        async function submitPlan() {
            let id = encodeURIComponent(document.getElementById("IDPlan").value);
            let packagename = encodeURIComponent(document.getElementById("package").value);
            window.location.href = "/setplan?id=" + id + "&package=" + packagename
        }
    </script>
    <%- include('./components/scripts') %>
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
  </body>
</html>
