<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div class="container-scroller">
      <%- include('./components/adminsidebar') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">
           <h2>Resources</h2>
           <p class="text-gray">Change the resources of users.</p>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Set user's resources</h4>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="IDSet">Discord User ID</label>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="Enter user ID" id="IDSet">
                      </div>
                      <div class="form-group">
                        <label for="SetCPU">CPU</label><BR>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="80" id="SetCPU">
                      </div>
                      <div class="form-group">
                        <label for="SetRAM">RAM</label><BR>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="4096" id="SetRAM">
                      </div>
                      <div class="form-group">
                        <label for="SetDisk">Disk</label><BR>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="81920" id="SetDisk">
                      </div>
                      <div class="form-group">
                        <label for="SetServers">Servers</label><BR>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="0" id="SetServers">
                      </div>
                      <a role="button" class="software-item text-white" href="javascript: submitSet()"><%= lang.apply_change %></a>
                    </form>
                  </div>
                </div>
              </div>
          </div></div>
          <%- include('./components/footer') %>
        </div>
      </div>
    </div>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
        async function submitPlan() {
            let id = encodeURIComponent(document.getElementById("IDPlan").value);
            let packagename = encodeURIComponent(document.getElementById("package").value);
            window.location.href = "/setplan?id=" + id + "&package=" + packagename
        }
        async function submitSet() {
            let id = encodeURIComponent(document.getElementById("IDSet").value);
            let cpu = encodeURIComponent(document.getElementById("SetCPU").value);
            let ram = encodeURIComponent(document.getElementById("SetRAM").value);
            let disk = encodeURIComponent(document.getElementById("SetDisk").value);
            let servers = encodeURIComponent(document.getElementById("SetServers").value);
            window.location.href = "/setresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
        async function submitAdd() {
            let id = encodeURIComponent(document.getElementById("IDAdd").value);
            let cpu = encodeURIComponent(document.getElementById("AddCPU").value);
            let ram = encodeURIComponent(document.getElementById("AddRAM").value);
            let disk = encodeURIComponent(document.getElementById("AddDisk").value);
            let servers = encodeURIComponent(document.getElementById("AddServers").value);
            
            window.location.href = "/addresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
        async function submitRemove() {
            let id = encodeURIComponent(document.getElementById("IDRemove").value);
            let cpu = encodeURIComponent(document.getElementById("RemoveCPU").value);
            let ram = encodeURIComponent(document.getElementById("RemoveRAM").value);
            let disk = encodeURIComponent(document.getElementById("RemoveDisk").value);
            let servers = encodeURIComponent(document.getElementById("RemoveServers").value);
            window.location.href = "/removeresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
    </script>
    <%- include('./components/scripts') %>
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>

  </body>
</html>