<%- include('loading.ejs') %>
<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>

<body class="bg-theme">
<div class="container-scroller">
    <%- include('./components/sidebar') %>
    <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div  class="main-panel">
            <div class="content-wrapper">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card" style="height: 100px;">
                            <div class="card-body">
                                <h3><%= lang.dashboard %></h3>
                                <p class="text-muted"><%= lang.view_resources %></p>
                            </div>
                        </div>
                    </div>
                </div>



<style>


    .md{
        transition: all 4.5s;
    }


    .md {
        position: fixed;
        /* Stay in place */
        z-index: 90;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }


    .modal-c {
        margin: auto;
        padding: 40px;

        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }


    .custom-div {
    width: 30%;
    margin-left: 675px;
    margin-top: 150px;
  }

  @media (max-width: 600px) {
    .custom-div {
      width: 100%;
      margin-left: 0;
      margin-top: 150px;
    }
  }


</style>







<% if (req.query.loggedin) { %>
    <div class="md" >
        <div class="custom-div" role="document" ">
            <div class="card modal-c"> 
                <div class="modal-title">
                    <h2 class="modal-title text-gray text-xl font-bold">
                        <span class="inline-block bg-dark px-2 pb-1 pt-2 text-center align-baseline text-sm font-bold leading-none text-white" style="border-radius: 4px;">TFC-Plex</span>
                        <span class="inline-block bg-gray px-2 pb-1 pt-2 text-center align-baseline text-sm leading-none text-black-700">News</span>
                    </h2>
                </div>
                <div class="modal-body">
                    <h2 class="text-gray-900 text-xl font-bold mb-2">
                            <div class="container-fluid card px-4 py-2.5">
                                <div class="d-flex justify-content-between align-items-center gap-4">
                                    <p class="text-sm text-white mb-0">
                                        Welcome back 👋! You've logged in as <strong class="font-semibold">@<%= userinfo.username %></strong>
                                    </p>
      
                                </div>
                            </div>
                    </h2>
                    <p class="text-gray-600 font-medium">What can I do here?</p>
                    <ul class="list-disc ml-5 text-gray-500 mb-4">
                        <li>Create, edit & delete servers</li>
                        <li>Earn & spend coins to buy resources</li>
                        <li>Reset credentials & manage account</li>
                        <li>More!</li>
                    </ul>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                        <a href="../dashboard" class="btn software-item">Close</a>
                </div>
            </div>
        </div>
    </div>
    
<% } %>







                <div id="claimLink" style="display: none;">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card" style="height: 100px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1">
                                            <i class="fa-solid fa-coin fa-2x text-warning"></i>
                                        </div>
                                        <div class="box ml-3">
                                            <h3 class="h3-mobile"><%= lang.claimed_daily_coins %></h3>
                                            <p class="text-muted"><a href="/claim"><%= lang.claim_coins_now %></a></p>
                                        </div>
                                        <div class="col-10">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('./components/alert') %>
                <div class="row">
                    <%
                    let ram = 0;
                    let disk = 0;
                    let cpu = 0;
                    let servers = pterodactyl.relationships.servers.data.length;
                    for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
                      ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
                      disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
                      cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
                    }
                    %>
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-9">
                              <h6 class="card-title text-muted mb-0"><%= lang.cpu.label %></h6>
                              <div class="d-flex align-items-center align-self-start">
                                <h5 class="mb-0"><%= cpu/100 %> / <%= (packages.cpu/100 + extraresources.cpu/100) %> <i class="fa-solid fa-microchip  fa-x4 ml-3"></i></h5>
                              </div>
                              <div class="d-flex align-items-center align-self-start">
                                <div class="progress w-100 mt-3 rounded">
                                  <div class=" progress-bar bg-gradient-success" role="progressbar" style="width: <%= (cpu / (packages.cpu + extraresources.cpu)) * 100 %>%;" aria-valuenow="<%= (cpu / (packages.cpu + extraresources.cpu)) * 100 %>"
                                       aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h5 class="mb-0 ml-2 mt-3"><%= (cpu / (packages.cpu + extraresources.cpu) * 100).toFixed(2) %>%</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-9">
                              <h6 class="card-title text-muted mb-0"><%= lang.ram.label %></h6>
                              <div class="d-flex align-items-center align-self-start">
                                <h5 class="mb-0 ml-2"><%= (ram / 1024) %> / <%= (packages.ram / 1024 + extraresources.ram / 1024).toFixed(2) %> GB <i class="fa fa-memory fa-x4 ml-3"></i></h5>
                              </div>
                              <div class="d-flex align-items-center align-self-start">
                                <div class="progress w-100 mt-3 rounded">
                                  <div class="progress-bar bg-gradient-success" role="progressbar" style="width: <%= (ram / (packages.ram + extraresources.ram)) * 100 %>%;" aria-valuenow="<%= (ram / (packages.ram + extraresources.ram)) * 100 %>"
                                       aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h5 class="mb-0 ml-2 mt-3"><%= ((ram / (packages.ram + extraresources.ram)) * 100).toFixed(2) %>%</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-9">
                              <h6 class="card-title text-muted mb-0"><%= lang.disk.label %></h6>
                              <div class="d-flex align-items-center align-self-start">
                                <h5 class="mb-0"><%= disk/1024 %> / <%= (packages.disk/1024 + extraresources.disk/1024).toFixed(2) %> GB <i class="fa-solid fa-hard-drive fa-x4 ml-3"></i></h5>
                              </div>
                              <div class="d-flex align-items-center align-self-start">
                                <div class="progress w-100 mt-3 rounded">
                                  <div class="progress-bar bg-gradient-success" role="progressbar" style="width: <%= (disk / (packages.disk + extraresources.disk)) * 100 %>%;" aria-valuenow="<%= (disk / (packages.disk + extraresources.disk)) * 100 %>"
                                       aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h5 class="mb-0 ml-2 mt-3"><%= ((disk / (packages.disk + extraresources.disk)) * 100).toFixed(2) %>%</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-9">
                                <h6 class="card-title text-muted mb-0"><%= lang.slots.label %></h6>
                                <div class="d-flex align-items-center align-self-start">
                                  <h5 class="mb-0"><%= servers %> / <%= packages.servers + extraresources.servers %> <i class="fa-solid fa-server fa-x4 ml-3"></i></h5>
                                </div>
                                <div class="d-flex align-items-center align-self-start">
                                  <div class="progress w-100 mt-3 rounded">
                                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: <%= (servers / (packages.servers + extraresources.servers)) * 100 %>%;" aria-valuenow="<%= servers %>"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h5 class="mb-0 ml-2 mt-3"><%= ((servers / (packages.servers + extraresources.servers)) * 100).toFixed(2) %>%</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card" style="height: 125px">
                        <a href="../store" style="text-decoration: none; color: inherit;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fas fa-bolt fa-2x"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="box">
                                                <h3 class="card-title"><%= lang.buy_more_resources %></h3>
                                                <p class="text-muted "><%= lang.buy_more_resources_description %></p><br>
                                                <a class="btn btn-primary btn-lg invisible" style="border-radius: 5px;" href="../store"><%= lang.buy_extra_resources %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 grid-margin stretch-card" style="height: 125px">
                        <a href="../servers/new" style="text-decoration: none; color: inherit;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fa-solid fa-plus fa-2x"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="box">
                                                <h3 class="card-title"><%= lang.create_server %></h3>
                                                <p class="text-muted "><%= lang.deploy_new_server %></p><br>
                                                <a class="btn btn-primary btn-lg invisible" style="border-radius: 5px;" href="../servers/new"><%= lang.buy_extra_resources %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>






                


                    <div class="row ">
                        <div class="col-12 grid-margin ">
                          <div class="card" >
                            <div class="card-body">
                              <h4 class="card-title"><%= lang.your_servers %>:</h4>
                              <div class="table-responsive" style="overflow-x: hidden; max-height: 95px; overflow-y: scroll;">
                                <table class="table" style="overflow-x: hidden;">
                                  <thead>
                                    <tr>
                                      <th><%= lang.server_name %></th>
                                      <th>Expire</th>
                                      <th> <%= lang.cpu.label %> </th>
                                      <th> <%= lang.ram.label %> </th>
                                      <th> <%= lang.disk.label %> </th>
                                      <th style="position: relative; left: 115px;"> <%= lang.options %> </th>
                                    </tr>
                                  </thead>
                                  <tbody style="overflow-x: hidden;">
                                      <% if (pterodactyl.relationships.servers.data.length == 0) { %>
                                        <tr>
                                          <td> You do not own any servers! Why not create one? </td>
                                        </tr>
                                      <% } else { %>
                                        <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                                          <tr>
                                            <td>
                                              <span class="pl-2"><%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %></span>
                                            </td>
                                            <td> <h5 id="server<%= pterodactyl.relationships.servers.data[i].attributes.id %>" style="font-family: 'Roboto Mono', monospace;"></h5></td>

                                            <td> <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu %>% </td>
                                            <td> <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory %>MB </td>
                                            <td> <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk %>MB </td>
                                            <td>
                                                <button class="btn bg-transparent text-right " style="margin-left: 110px;" type="button" id="serverActionsDropdown<%= i %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </button>
    
                                                <div class="dropdown-menu bg-dark text-white" aria-labelledby="serverActionsDropdown<%= i %>">
                                                    <a class="dropdown-item text-white" href="/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>"><%= lang.delete %></a>
                                                    <a class="dropdown-item text-white" href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>"><%= lang.edit %></a>
                                                    <a class="dropdown-item text-white" href="<%= settings.pterodactyl.domain %>/server/<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>" target="_blank"><%= lang.control %></a>
                                                </div>
                                            </div>
    
                                            </td>
                                          </tr>
                                        <% } %>
                                      <% } %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>




                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                // Loop through each server and send a request to /api/renewalstatus?id=SERVER_ID
                                <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                                    fetch(`/api/renewalstatus?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>`)
                                        .then(response => response.json())
                                        .then(data => {
                                            // Extract only the hours from the response
                        
                                            // Update the DOM with the server ID and renewal time
                                            const serverElement = document.getElementById(`server<%= pterodactyl.relationships.servers.data[i].attributes.id %>`);
                                            if (serverElement) {
                                                const expirationText = data.text;
                                                serverElement.innerHTML += `  Expire in: ${expirationText}`;
                                            }
                                        })
                                        .catch(error => {
                                            // Handle errors
                                            console.error(error);
                                        });
                                <% } %>
                            });
                        </script>

                </div>
            </div>
            <%- include('./components/footer') %>
        </div>
    </div>
</div>
<%- include('./components/scripts') %>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (<%= settings.claiming.enabled %>) {
            // If activated, display the claim link
            document.getElementById("claimLink").style.display = "block";
        } else {
            // If deactivated, hide the claim link
            document.getElementById("claimLink").style.display = "none";
        }
    });
</script>
