<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container-scroller">
      <%- include('./components/sidebar') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div class="main-panel">
          <div class="content-wrapper">
           <h2><%= lang.tilte_edit %></h2>
           <p class="text-gray"><%= lang.description_edit %></p>
            <% if (req.query.err) { %>
            <div style="border-radius: 15px;" class="alert">  
                <% if (req.query.err == "MISSINGVARIABLE") { %>
                  <%= lang.missingvariable %>
                <% } else if (req.query.err == "ERRORONMODIFY") { %>
                  <%= lang.erroronmodify %>
                <% } else if (req.query.err == "MISSINGEGG") { %>
                  <%= lang.missingegg %>
                <% } else if (req.query.err == "MUSTCOMPLETECAPTCHA") { %>
                  <%= lang.mustcompletecaptcha %>
                <% } else if (req.query.err == "INVALIDCAPTCHARESPONSE") { %>
                  <%= lang.invalidcaptchareponse %>
                <% } else { %>
                    <% if (req.query.num) { %>
                        <% if (!isNaN(parseFloat(req.query.num))) { %>
                            <% if (req.query.err == "TOOLITTLERAM" || req.query.err == "TOOLITTLEDISK" || req.query.err == "TOOLITTLECPU") { %>
                              <%= lang.toolittleresources %> <b><%= req.query.num %></b>
                                <% if (req.query.err.slice(-3) == "RAM") { %>
                                    MB RAM
                                <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                    MB disk
                                <% } else { // CPU %>
                                    % CPU
                                <% } %>
                                <%= lang.modified_type_server %>
                            <% } else if (req.query.err == "TOOMUCHRAM" || req.query.err == "TOOMUCHDISK" || req.query.err == "TOOMUCHCPU") { %>
                              <%= lang.maximumof %> <b><%= req.query.num %></b>
                                <% if (req.query.err.slice(-3) == "RAM") { %>
                                    MB RAM
                                <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                    MB disk
                                <% } else { // CPU %>
                                    % CPU
                                <% } %>
                                <%= lang.ontheserver %>
                            <% } else if (req.query.err == "EXCEEDRAM" || req.query.err == "EXCEEDDISK" || req.query.err == "EXCEEDCPU") { %>
                              <%= lang.not_modified_server %>
                            <% } else { %>
                              <%= lang.erroralertadmin %>
                            <% } %>
                        <% } else { %>
                          <%= lang.erroralertadmin %>
                        <% } %>
                    <% } else { %>
                      <%= lang.erroralertadmin %>
                    <% } %>
                <% } %>
            </div>
        <% } %>
        <% if (req.query.id) { %>
          <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
            let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
            let attemptegg = null;
            let attemptname = null;
            for (let [name, value] of Object.entries(eggconfig)) {
                if (eggconfig[name].info.egg == serverinfo.attributes.egg) {
                    attemptegg = eggconfig[name];
                    attemptname = name;
                };
            };
            let egginfo = attemptegg ? attemptegg.display : "???";
        %>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputUsername1"><%= lang.server_name %></label>
                        <input  style="border-radius: 1px; padding: 8px;" type="text" class="form-control" value="<%= serverinfo.attributes.name %> | Changing this will not do anything, use the panel">
                      </div>
                      <div class="form-group">
                        <label for="InputCPU"><%= lang.cpu.label %></label>
                        <input style="border-radius: 1px; padding: 8px;" type="number" class="form-control" id="InputCPU" placeholder="120" value="<%= serverinfo.attributes.limits.cpu/100 %>">
                      </div>
                      <div class="form-group">
                        <label for="InputRAM"><%= lang.ram.label %></label>
                        <input style="border-radius: 1px; padding: 8px;" type="number" class="form-control" id="InputRAM" placeholder="2048" value="<%= serverinfo.attributes.limits.memory/1024 %>">
                      </div>
                      <div class="form-group">
                        <label for="InputDisk"><%= lang.disk.label %></label>
                        <input style="border-radius: 1px; padding: 8px;" type="number" class="form-control" id="InputDisk" placeholder="20480" value="<%= serverinfo.attributes.limits.disk/1024 %>">
                      </div>
                      <div class="form-group">
                        <label for="InputEgg"><%= lang.egg %></label><BR>
                        <select class="btn btn-secondary dropdown-toggle" style="background-color: #2a3038; border: 1px solid #2c2e33; color: #e4eaec; border-radius: 5px; padding: 8px;" disabled>
                          <% for (let [name, value] of Object.entries(eggs)) { %>
                            <option value="<%= name %>"><%= value.display %></option>
                          <% } %>
                        </select>
                      </div>
                      <button type="button" class="form-control form-control-rounded" onclick="sc234()"><%= lang.apply_change %></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
  
          <% } else { %>
                <p style="margin-left: 5%;"><%= lang.not_find_server_id %></p>
            <% } %>
        <% } else { %>
            <p style="margin-left: 5%;"><%= lang.missing_server_id %></p>
        <% } %>
          </div>


      </div>
    </div>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
      async function sc234() {
        let ram = encodeURIComponent(document.getElementById("InputRAM").value * 1024);
        let disk = encodeURIComponent(document.getElementById("InputDisk").value * 1024);
        let cpu = encodeURIComponent(document.getElementById("InputCPU").value * 100);
        window.location.href = `/modify?id=<%= req.query.id %>&ram=${ram}&disk=${disk}&cpu=${cpu}`;
      };
    </script>
    <%- include('./components/scripts') %>
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
  </body>
</html>