<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container-scroller">
      <%- include('./components/sidebar') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div style="" class="main-panel">
          <div style="" class="content-wrapper">



              <div class="col-md-12 grid-margin stretch-card">
                  <div class="card" style="height: 100px;">
                      <div class="card-body">
                          <h3>Gift Coins</h3>
                          <p class="text-muted">Gift others your coins.</p>
                      </div>
                  </div>
              </div>



          <% if (req.query.err) { %>
              <div style="border-radius: 15px;" class="alert">
                <% if (req.query.err == "MISSINGFIELDS") { %>
                    You must fill out all fields in the form.
                <% } else if (req.query.err == "CANNOTGIFTYOURSELF") { %>
                    You cannot gift coins to yourself -_-
                <% } else if (req.query.err == "MUSTCOMPLETECAPTCHA") { %>
                    You must complete the captcha to prove you are human!
                <% } else if (req.query.err == "INVALIDCAPTCHARESPONSE") { %>
                    You submitted an invalid captcha response, try again.
                <% } else if (req.query.err == "CANTAFFORD") { %>
                    You do not have enough coins to gift this amount.
                <% } else if (req.query.err == "USERDOESNTEXIST") { %>
                    No user with the ID you tried to send coins to has logged in to the dashboard.
                <% } else if (req.query.err == "TOOLOWCOINS") { %>
                    You must gift 1 or more coin.
                <% } %>
              </div>
            <% } else if (req.query.success) { %>
              <div class="alert" style="background-color: #007fcc; border-radius: 15px">
                Success! The coins have been transferred
              </div>
            <% } %>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card ml-3">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="InputID">Discord ID</label>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" id="InputID" placeholder="Enter the Discord ID of the user you are gifting to here">
                      </div>
                      <div class="form-group">
                        <label for="InputCoins">Coins</label>
                        <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" id="InputCoins" placeholder="100">
                      </div>
                     <a role="button" class="software-item text-white" href="javascript: submitGift()">Gift</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('./components/footer') %>
        </div>
      </div>
    </div>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
      async function submitGift() {
        let id = encodeURIComponent(document.getElementById("InputID").value);
        let coins = encodeURIComponent(document.getElementById("InputCoins").value);
        document.location.href = `/giftcoins?id=${id}&coins=${coins}`;
      };
    </script>
    <%- include('./components/scripts') %>
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
  </body>
</html>
