<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= settings.name %></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="<%= settings.name %>">
    <meta property="og:type" content="website">
    <meta name="author" content="TFC-plex">
    <meta property="og:description" content="<%= settings.name %> | Powered by TFC-Plex.">
    <meta name="twitter:title" content="<%= settings.name %>">
    <meta name="twitter:description" content="<%= settings.name %> | Powered by TFC-Plex.">
    <meta name="twitter:image" content="<%= settings.icon %>">
    <meta name="twitter:image:src" content="<%= settings.icon %>">
    <meta property="og:title" content="<%= settings.name %>">
    <meta property="og:image" content="<%= settings.icon %>">
    <meta name="twitter:card" content="<%= settings.icon %>">

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed " style="
  background-color: rgb(15, 23, 44);
  background-image: radial-gradient(at 98% 15%, rgb(64, 19, 131) 0, transparent 58%), radial-gradient(at 6% 25%, rgb(67, 27, 136) 0, transparent 32%), radial-gradient(at 92% 93%, rgb(33, 69, 128) 0, transparent 25%);
">
    <div class="h-full">
        <!--Nav-->
        <div class="w-full container mx-auto">
            <div class="w-full flex items-center justify-between">
                <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"><%= settings.name %></span>
                </a>
            </div>
        </div>

        <!--Main-->
        <div class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
            <!--Left Col-->
            <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden" style="margin-top: -150px;">
                <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
                    <%= lang.motd_p1 %>
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
                        <%= settings.name %>
                    </span>
                    <%= lang.motd_p2 %>
                </h1>
                <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
                    <%= settings.motd %>
                </p>

                <div class="mb-4 flex justify-center md:justify-start">
                    <a href="/dashboard" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                        <%= lang.go_to_client %>
                    </a>
                    <a href="/panel" class="ml-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-green active:bg-green-800">
                        <%= lang.go_to_panel %>
                    </a>
                </div>
            </div>

            <!--Right Col-->
            <div class="w-full xl:w-3/5 p-12 overflow-hidden" style="margin-top: -150px;">
                <!-- Add responsive class to hide the logo on small screens -->
                <img class="mx-auto w-full md:w-4/5 transform -rotate-1 transition hover:scale-105 scale-75 duration-700 ease-in-out hover:rotate-6 hidden md:block" src="<%= settings.icon %>" />
            </div>

          <section id="team" class="w-full md:w-3/5 p-12 overflow-hidden text-center mx-auto">
            <!-- Statistics Section -->
            <div class="text-center mt-12">
                <h2 class="text-5xl font-bold text-white mb-20"><%= settings.name %> <%= lang.statistics %> </h2>
                <hr class="mb-20">
        
                <!-- Individual Statistic Cards -->
                <div class="flex flex-wrap justify-center items-center">
                    <!-- Statistic Card for Active Users -->
                    <div class="w-full md:w-1/2 mb-4">
                        <div class="">
                            <div class="relative pb-4">
                                <div class="duration-300 absolute left-1/2 transform -translate-x-1/2 w-2 h-20"></div>
                            </div>
                            <h3 class="text-3xl font-bold mb-2">
                                <span id="users">---</span>
                            </h3>
                            <p class="font-heading text-lg"> <%= lang.active_users %> </p>
                        </div>
                    </div>
        
                    <!-- Statistic Card for Servers -->
                    <div class="w-full md:w-1/2 mb-4">
                        <div class="">
                            <div class="relative pb-4">
                                <div class="duration-300 absolute left-1/2 transform -translate-x-1/2 w-2 h-20"></div>
                            </div>
                            <h3 class="text-3xl font-bold mb-2">
                                <span id="servers">---</span>
                            </h3>
                            <p class="font-heading text-lg"> <%= lang.servers %> </p>
                        </div>
                    </div>
        

        
                    <!-- Statistic Card for Locations -->
                    <div class="w-full md:w-1/2 mb-4">
                        <div class="">
                            <div class="relative pb-4">
                                <div class="duration-300 absolute left-1/2 transform -translate-x-1/2 w-2 h-20"></div>
                            </div>
                            <h3 class="text-3xl font-bold mb-2">
                                <span id="locations">---</span>
                            </h3>
                            <p class="font-heading text-lg"> <%= lang.locations %> </p>
                        </div>
                    </div>
        
                    <!-- Statistic Card for Nodes -->
                    <div class="w-full md:w-1/2 mb-4">
                        <div class="">
                            <div class="relative pb-4">
                                <div class="duration-300 absolute left-1/2 transform -translate-x-1/2 w-2 h-20"></div>
                            </div>
                            <h3 class="text-3xl font-bold mb-2">
                                <span id="nodes">---</span>
                            </h3>
                            <p class="font-heading text-lg"> <%= lang.nodes %> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        

          <!--Footer-->
          <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
              <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; 2022-2024</a>
              <a class="text-blue-500 no-underline hover:no-underline" href="https://github.com/privt00/tfc-plex">TFC-Plex</a>
          </div>
      </div>
  </div>

    <script>
        async function servers() {
            const serverInfo = document.getElementById("servers");
            const response = await fetch('/api/servers');
            const json = await response.json();
            const infoString = `${json.totalServers}`;
            serverInfo.innerText = infoString;
        }
        servers();
        async function users() {
            const users = document.getElementById("users");
            const response = await fetch('/api/users');
            const json = await response.json();
            const usersr = `${json.totalUsers}`;
            users.innerText = usersr;
        }
        users();
        async function locations() {
            const locations = document.getElementById("locations");
            const response = await fetch('/api/locations');
            const json = await response.json();
            const location = `${json.totalLocations}`;
            locations.innerText = location;
        }
        locations();
        async function nodes() {
            const node = document.getElementById("nodes");
            const response = await fetch('/api/nodes');
            const json = await response.json();
            const nodes = `${json.totalNodes}`;
            node.innerText = nodes;
        }
        nodes();
    </script>
</body>

</html>
