<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <body>
    <div  class="container-scroller">
      <%- include('./components/sidebar') %>
      <div  class="container-fluid page-body-wrapper">
        <%- include('./components/topnav') %>
        <div  class="main-panel">
          <div  class="content-wrapper">
            <%- include('./components/alert') %>
              <div class="row justify-content-center">
                  <div class="col-md-12 grid-margin stretch-card">
                      <div class="card" style="height: 100px;">
                          <div class="card-body d-flex justify-content-between align-items-center">
                              <div>
                                <h3 class="text-left"><%= lang.your_servers %></h3>
                                <p class="text-muted"><%= lang.edit_delete_create_update %></p>
                              </div>
                              <div class="text-right row ">
                                  <a class=" bg-primary p-2 mr-2 d-flex justify-content-center text-decoration-none" style=" border-radius: 55px; font-size: 16px; color: white;" href="../servers/new">
                                      <i class="fa-solid fa-plus"></i>
                                  </a>

                              <a class=" bg-primary p-2 mr-2 d-flex justify-content-center text-decoration-none" style=" border-radius: 55px; font-size: 16px; color: white;" href="../sub">
                                  <?xml version="1.0" encoding="UTF-8"?>
                                  <svg width="16px" height="16px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                                      <g id="🔍-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                          <g fill="#fff" fill-rule="nonzero">
                                              <path d="M17.5,12 C20.5375661,12 23,14.4624339 23,17.5 C23,20.5375661 20.5375661,23 17.5,23 C14.4624339,23 12,20.5375661 12,17.5 C12,14.4624339 14.4624339,12 17.5,12 Z M11.0767435,16.4980893 C11.0262169,16.8246648 11,17.1592708 11,17.5 C11,19.1519325 11.6162359,20.6599353 12.6313677,21.8066686 C12.4236684,21.9320462 12.2125071,21.9970839 12.0015505,21.9970839 C10.8045569,21.9970839 9.60097385,19.9031523 8.96386277,16.7933709 L8.90581068,16.4988857 L11.0767435,16.4980893 Z M7.37299033,16.4988228 C7.73776716,18.5810658 8.35604709,20.3525622 9.16518306,21.5922809 C6.49983159,20.8051136 4.29868077,18.9386098 3.06735478,16.4990374 L7.37299033,16.4988228 Z M17.5,13.9992349 L17.4101244,14.0072906 C17.2060313,14.0443345 17.0450996,14.2052662 17.0080557,14.4093593 L17,14.4992349 L16.9996498,16.9992349 L14.4976498,17 L14.4077742,17.0080557 C14.2036811,17.0450996 14.0427494,17.2060313 14.0057055,17.4101244 L13.9976498,17.5 L14.0057055,17.5898756 C14.0427494,17.7939687 14.2036811,17.9549004 14.4077742,17.9919443 L14.4976498,18 L17.0006498,17.9992349 L17.0011076,20.5034847 L17.0091633,20.5933603 C17.0462073,20.7974534 17.207139,20.9583851 17.411232,20.995429 L17.5011076,21.0034847 L17.5909833,20.995429 C17.7950763,20.9583851 17.956008,20.7974534 17.993052,20.5933603 L18.0011076,20.5034847 L18.0006498,17.9992349 L20.5045655,18 L20.5944411,17.9919443 C20.7985342,17.9549004 20.9594659,17.7939687 20.9965098,17.5898756 L21.0045655,17.5 L20.9965098,17.4101244 C20.9594659,17.2060313 20.7985342,17.0450996 20.5944411,17.0080557 L20.5045655,17 L17.9996498,16.9992349 L18,14.4992349 L17.9919443,14.4093593 C17.9549004,14.2052662 17.7939687,14.0443345 17.5898756,14.0072906 L17.5,13.9992349 Z M7.07008952,9.99886156 C7.02384262,10.6488073 7,11.317059 7,11.9985419 C7,12.8279062 7.03531299,13.6376738 7.10334642,14.4186977 L7.16046606,14.9989332 L2.45783582,14.9989332 C2.16036523,14.0517344 2,13.0438658 2,11.9985419 C2,11.3135108 2.06886984,10.6445651 2.20006337,9.99825094 L7.07008952,9.99886156 Z M15.4260585,9.99828858 C15.459459,10.4274338 15.4824956,10.8668299 15.4941893,11.3146351 C13.6857411,11.9016661 12.2249577,13.2584681 11.4988216,14.9984222 L8.67550751,14.9989854 C8.56245821,14.0531891 8.5,13.0455996 8.5,11.9985419 C8.5,11.4842128 8.5150706,10.979407 8.54380525,10.4867705 L8.57704249,9.99828858 L15.4260585,9.99828858 Z M21.8030376,9.99825094 C21.9342312,10.6445651 22.003101,11.3135108 22.003101,11.9985419 C22.003101,12.2626094 21.9928672,12.5242866 21.9727745,12.7831985 C20.8074036,11.6781194 19.2328935,11 17.5,11 C17.3265394,11 17.1546657,11.0067946 16.9846307,11.0201322 C16.982367,10.8972966 16.9774348,10.775731 16.971737,10.6547213 L16.9330115,9.99886156 L21.8030376,9.99825094 Z M14.837938,2.4048848 C17.8562483,3.29586143 20.2802617,5.57247097 21.3734742,8.49820945 L16.7825906,8.49850215 C16.4867718,6.23263292 15.9049538,4.26668726 15.1080516,2.85086736 L14.9458244,2.57511253 L14.837938,2.4048848 Z M9.16510514,2.40492238 C8.28434719,3.75443434 7.62973777,5.73404367 7.28207953,8.05866262 L7.22051043,8.49850215 L2.62962677,8.49820945 C3.67090187,5.71146979 5.91953166,3.51364534 8.73907569,2.54117652 L9.04332533,2.44170129 L9.16510514,2.40492238 Z M12.0015505,2 C13.3203448,2 14.6471379,4.54175083 15.2155271,8.18344445 L15.262371,8.49824972 L8.74072999,8.49824972 C9.28013985,4.68906863 10.6450764,2 12.0015505,2 Z" id="🎨-Color">

                                              </path>
                                          </g>
                                      </g>
                                  </svg>
                              </a>
                              <a class=" bg-success p-2  d-flex justify-content-center text-decoration-none" style=" border-radius: 55px; font-size: 16px; color: white;" href="../updateinfo">
                                  <i class="fa-solid fa-arrows-rotate-reverse"></i>
                              </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>




              <% if (req.query.err) { %>
                <% } if (req.query.err == "SUCCESS") { %>
                <div style="background-color: #007fcc" class="alert">
                  <%= lang.success_deployed %>
                </div>
                <% } %>
                <div class="row">
                </div>
                <br>
                <div class="row">
                  <% if (pterodactyl.relationships.servers.data.length == 0) { %>
                  <p><%= lang.no_servers_available %></p>
                  <% } else { %>
                  <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                  <div class="col-md-6 grid-margin stretch-card " style="margin-left: -5px; max-width: 525px; max-height: 265px">
                  

                    <div class="card mr-3 mb-3">
                      <div style="width: 100%; height: 120px; position: absolute; z-index: -1;filter: blur(4px); border-radius: 0.80rem 0.80rem 0px 0px; background-size: cover; background-image: url(https://img.freepik.com/fotos-premium/der-mond-und-die-sterne-am-himmel_574545-2018.jpg); filter: blur(0px, 8px);"></div>

                      <div class="card-body">
                        
                        <div class="dropdown float-right">
                          <button class="btn bg-transparent text-right" type="button" id="serverActionsDropdown<%= i %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                          </button>
                          <div class="dropdown-menu bg-dark text-white" aria-labelledby="serverActionsDropdown<%= i %>">
                            <a class="dropdown-item text-white" onclick="if (confirm('<%= lang.delete_server_confirm %>')) { window.location.href='/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }"><%= lang.delete %></a>
                            <a class="dropdown-item text-white" href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>"><%= lang.edit %></a>
                            <a class="dropdown-item text-white" onclick="if (confirm('<%= lang.renew_server_confirm %>')) { window.location.href='/renew?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }"><%= lang.renew %></a>
                            <a class="dropdown-item text-white" href="<%= settings.pterodactyl.domain.replace(/\/$/, '') %>/server/<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>" target="_blank"><%= lang.control %></a>
                           
                          </div>
                          <p> <span id="serverStatus<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>">Loading...</span></p>
                        </div>
                        <h4 class="card-title"><%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %></h4>
                        <h5 id="server<%= pterodactyl.relationships.servers.data[i].attributes.id %>" style="font-family: 'Roboto Mono', monospace;"></h5>
                        <div class="row mt-4">
                          <div class="mr-2 mb-3" >
                            <div class="card-body">
                              <h5 class="card-title"><i class="mdi mdi-memory"></i> CPU</h5>
                              <p class="card-text"><%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu/100 %> Core/s</p>
                            </div>
                          </div>
                          <div class="mr-3 mb-3" >
                            <div class="card-body">
                              <h5 class="card-title"><i class="mdi mdi-layers"></i> RAM</h5>
                              <p class="card-text"><%= pterodactyl.relationships.servers.data[i].attributes.limits.memory/1024 %> GB/s</p>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="card-body">
                              <h5 class="card-title"><i class="mdi mdi-harddisk"></i> Disk</h5>
                              <p class="card-text"><%= pterodactyl.relationships.servers.data[i].attributes.limits.disk/1024 %> GB/s</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <% } %>
                </div>
              </div>
             
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  // Funktion zum Aktualisieren des Serverstatus
                  async function updateServerStatus(serverId) {
                    try {
                      const response = await fetch(`/api/servers/resources/${serverId}`);
                      const data = await response.json();
              
                      // Den Pterodactyl-Status in menschenlesbare Zustände umwandeln
                      // Den Anzeigezustand bestimmen
                      const displayState = data.state === 'running' ? "<p class='bg-success' style='padding: 2px 5px; border-radius: 5px;'>Online</p>" : "<p class='bg-danger;  border-radius: 5px;' style='padding: 2px 5px;'>Offline</p>";
              
                      // Den Serverstatus im DOM aktualisieren
                      const serverStatusElement = document.getElementById(`serverStatus${serverId}`);
                      if (serverStatusElement) {
                        serverStatusElement.innerHTML = data.is_suspended ? 'Suspended' : displayState;
                      }
                    } catch (error) {
                      console.error(error);
                    }
                  }
              
                  // Durchlaufe jeden Server und aktualisiere den Status einmalig
                  <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                    const serverId<%= i %> = '<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>';
                    updateServerStatus(serverId<%= i %>);
                  <% } %>
                });
              </script>
              





              <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Loop through each server and send a request to /api/renewalstatus?id=SERVER_ID
                    <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                        fetch(`/api/renewalstatus?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>`)
                            .then(response => response.json())
                            .then(data => {
                                // Extract only the hours from the response
                                const hours = Math.floor(parseFloat(data.text.split(' ')[0]));
            
                                // Update the DOM with the server ID and renewal time
                                const serverElement = document.getElementById(`server<%= pterodactyl.relationships.servers.data[i].attributes.id %>`);
                                if (serverElement) {
                                    const expirationText = isNaN(hours) ? "N/A" : `${hours} days`;
                                    serverElement.innerHTML += `  Expire in: ${expirationText}`;
                                }
                            })
                            .catch(error => {
                                // Handle errors
                                console.error(error);
                            });
                    <% } %>
                });
            </script>
          <%- include('./components/footer') %>
        </div>
      </div>
    </div>
    <%- include('./components/scripts') %>
  </body>
</html>