<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= settings.name %> | Powered by TFC-Plex.">
    <meta name="keywords" content="TFC-Plex, TFC-Plex, Hosting, TFC-Plex, Freemium Minecraft Hosting, <%= settings.name %>, Cloud, Minecraft, Servers, Free Servers, Hostings that uses TFC-Plex">
    <meta name="author" content="TFC-plex">
    <meta name="copyright" content="<%= settings.name %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= settings.name %>">
    <meta property="og:description" content="<%= settings.name %> | Powered by TFC-Plex.">
    <meta property="og:image" content="<%= settings.icon %>">
    <meta name="twitter:card" content="<%= settings.icon %>">
    <meta name="twitter:title" content="<%= settings.name %>">
    <meta name="twitter:description" content="<%= settings.name %> | Powered by TFC-Plex.">
    <meta name="twitter:image" content="<%= settings.icon %>">
    <meta name="twitter:image:src" content="<%= settings.icon %>">
    <title><%= settings.name %></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.js"></script>
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">

    <link rel="stylesheet" rel="prefetch" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet"  href="/assets/css/tailwind.css">
    <link rel="stylesheet" prefetch href="/assets/css/style.css">


    <link rel="shortcut icon" href="https://cdn.tfc-plex.de/img/tfc.png" />
    <link rel="icon" type="image/png" href="<%= settings.icon %>">
    <link href="https://fonts.cdnfonts.com/css/whitney" rel="stylesheet">
    


</head>
<style>
    body{
        font-family: 'Whitney-Semibold', sans-serif;
    }
    .content-wrapper{
        background: rgba(45, 18, 18, 0) !important;

    }
    body {




    background-size: cover;
    background-image: url(<%- settings.background %>);

}

body {

}
    .fa-regular{
        margin-right: 7px;
    }
</style>
<div class="nanobar my-class" id="my-id" style="position: fixed;">
    <div class="bar"></div>
</div>





<script>
function preloadImages(array) {
    if (!preloadImages.list) {
        preloadImages.list = [];
    }
    var list = preloadImages.list;
    for (var i = 0; i < array.length; i++) {
        var img = new Image();
        img.onload = function() {
            var index = list.indexOf(this);
            if (index !== -1) {
                list.splice(index, 1);
            }
        }
        list.push(img);
        img.src = array[i];
    }
}

preloadImages(["/assets/images/bg-themes/1.pn"], true);

</script>


<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>



