<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div style="background: #0b0b0fbf;" class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <img src="<%= settings.icon %>" style="margin-left: 20px" width="64px" alt=" ">
        <a style="color: white" class="sidebar-brand brand-logo" href="/dashboard">
            <%= settings.name %>

        </a>
    </div>
    <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link text-white"><h4>Management</h4></span>
          </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="../dashboard">
          <span class="menu-title"><i class="fa-regular fa-house d-lg-inline"></i> <%= lang.dashboard %></span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="../servers">
          <span class="menu-title"><i class="fa-regular fa-server"></i> <%= lang.your_servers %></span>
        </a>
      </li>
        <li class="nav-item menu-items">
        <a class="nav-link" href="../settings">
          <span class="menu-title"><i class="fa-regular fa-user-gear"></i> <%= lang.account_settings %></span>
        </a>
      </li>
          <li class="nav-item nav-category">
            <span class="nav-link text-white"><h4>Economy</h4></span>
          </li>
<!--
      <li class="nav-item menu-items">
        <a class="nav-link" href="../shop">
          <span class="menu-title"><i class="fa-regular fa-wallet"></i>Shop</span>
        </a>
-->








  <!--<li class="nav-item menu-items" id="plansLink">
    <a class="nav-link" href="../plans">
      <span class="menu-title"><i class="fa-regular fa-microchip"></i> Plans</span>
    </a>
  </li>-->

  <li class="nav-item menu-items" id="storeLink">
    <a class="nav-link" href="../store">
      <span class="menu-title"><i class="fa-regular fa-microchip"></i> <%= lang.store %></span>
    </a>
  </li>













      <!--
      <li class="nav-item menu-items">
        <a class="nav-link" href="../afk">
          <span class="menu-title">AFK Page</span>
        </a>
      </li>-->



        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#joinForRewards" aria-expanded="false" aria-controls="joinForRewards">
                <span class="menu-title"><i class="fa-regular fa-coins"></i> <%= lang.earn %></span>
            </a>
            <div class="collapse" id="joinForRewards">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="../lv">
                            <span class="menu-title"><i class="fa-regular fa-coins"></i> Linkvertise</span>
                        </a>
                    </li>

                    <li class="nav-item menu-items">
                      <a class="nav-link" href="../refarl">
                          <span class="menu-title"><i class="fa-regular fa-coins"></i> Referrel</span>
                      </a>
                  </li>

                    <li class="nav-item menu-items">
                        <a class="nav-link" href="../j4r">
                            <span class="menu-title"><i class="fa-regular fa-arrow-right-arrow-left"></i> Join for Rewards</span>
                        </a>
                </ul>
            </div>
        </li>



      <li class="nav-item menu-items">
        <a class="nav-link" href="../gift">
          <span class="menu-title"><i class="fa-regular fa-gift"></i> <%= lang.gift_coins %></span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="../redeem">
          <span class="menu-title"><i class="fa-regular fa-gift-card"></i> <%= lang.gift_cards %></span>
        </a>
      </li>
          <li class="nav-item nav-category">
            <span class="nav-link text-white"><h4>Others</h4></span>
          </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="../panel">
            <span class="menu-title"><i class="fa-regular fa-layer-group text-success"></i> Panel</span>
          </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="../tos">
                <span class="menu-title"><i class="fa-regular fa-book-section text-danger"></i> Tos</span>
            </a>
        </li>

        <% if (pterodactyl.root_admin == true) { %>
        <li class="nav-item nav-category">
            <span class="nav-link text-white"><h4>Admin</h4></span>
        </li>

            <li class="nav-item menu-items">
                <a class="nav-link" href="../admin">
                    <span class="menu-title"><i class="fa-regular fa-gear"></i> Control Panel</span>
                </a>
            </li>
        <% } %>
      </ul>
    </nav>
